.main-body {
  margin-top: var(--height-xm-small);
  height: calc(100vh - (var(--height-xm-small) + var(--height-xm-small)) + 5px);
  background-color: var(--dark2);
  color: var(--text-black);
}


.pki_address{
  background-color: var(--dark1);
  height: 75px;
}