.check_box,
.input_radio {
  height: 80%;
  font-weight: 600;
  color: var(--dark3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.check_box:hover,
.input_radio:hover {
  background: #2b7b3f;
  color: var(--text-gray1);
}
.check_box.radio_active,
.input_radio.radio_active {
  background-color: var(--green);
  color: var(--text-gray1);
}

.input_radio {
  width: 90%!important;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
input.input_radio::placeholder {
  color: var(--dark3);
}
