.__card {
  width: calc(100% / 3);
  height: 80%;
  background-color: var(--dark3);
  border-radius: 6px;
}

.__card .dirIcon {
  position: absolute;
  left: 10px;
  font-size: 3.5rem;
}

.card__body {
  gap: 5px;
  width: 70%;
  right: 0;
  height: 100%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.card__body span {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card__body small {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__body small:hover {
  overflow: visible;
  z-index: 9999;
}

.changeDir {
  position: absolute;
  top: 10px;
  right: 10px!important;
  font-size: 1rem !important;
  cursor: pointer;
  color: var(--text-gray);
}
